<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Talks{{end}}

{{define "body"}}
<article>
<h1>Talks by Community Members</h1>
<p>You may find videos and/or slides from talks about Team Silverblue and related subprojects here.</p>

<ul>

<li>Sanja Bonic and Colin Walters: You want a Clean Desktop OS? Containerize it.
<a href="https://www.youtube.com/watch?v=a4IPWlfkJSo">Video</a>
<a href="https://fedorapeople.org/~walters/2018.01-devconf-desktopcontainers/#/">Slides</a>

<li>Jan Pazdziora: Minimizing workstation installation
<a href="https://www.youtube.com/watch?v=eWoFpOoA-tE">Video</a>

<li>Kalev Lember: Atomic Workstation
<a href="https://www.youtube.com/watch?v=Yc7lvkl5atE">Video</a>
<a href="https://kalev.fedorapeople.org/slides/2018-devconf-Atomic-Workstation.pdf">Slides</a>

<li>Jonathan Lebon: Fearless Upgrades with Fedora Atomic Workstation
<a href="https://www.youtube.com/watch?v=7c3GdfhWzcc">Video</a>
<a href="http://jlebon.com/devconf/2018/slides.pdf">Slides</a>

</ul>

</article>

<h1>Press</h1>

{{end}}
