<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Elsewhere{{end}}

{{define "body"}}
<article>
<h1>Talks</h1>
<p>You may find videos and/or slides from talks given by community members about Silverblue
and related subprojects here.</p>

<ul>

<li>Sanja Bonic and Colin Walters, devconf.cz 2018: You want a Clean Desktop OS? Containerize it
<a href="https://www.youtube.com/watch?v=a4IPWlfkJSo">Video</a>
<a href="https://fedorapeople.org/~walters/2018.01-devconf-desktopcontainers/#/">Slides</a>

<li>Jan Pazdziora, devconf.cz 2018: Minimizing workstation installation
<a href="https://www.youtube.com/watch?v=eWoFpOoA-tE">Video</a>

<li>Jonathan Lebon, devconf.cz 2018: Fearless Updates with Fedora Atomic Workstation,
<a href="https://www.youtube.com/watch?v=FcykFHJEDUU">Video</a>

<li>Rob McQueen, devconf.cz 2018: Desktop OS of the future: ostree+flatpak,
<a href="https://www.youtube.com/watch?v=FcykFHJEDUU">Video</a>

<li>Kalev Lember, devconf.cz 2018: Atomic Workstation
<a href="https://www.youtube.com/watch?v=Yc7lvkl5atE">Video</a>
<a href="https://kalev.fedorapeople.org/slides/2018-devconf-Atomic-Workstation.pdf">Slides</a>

<li>Jonathan Lebon, devconf.cz 2018: Fearless Upgrades with Fedora Atomic Workstation
<a href="https://www.youtube.com/watch?v=7c3GdfhWzcc">Video</a>
<a href="http://jlebon.com/devconf/2018/slides.pdf">Slides</a>

<li>Kalev Lember, GUADEC 2017: Atomic Workstation
<a href="https://linuxnews.de/2018/05/03/neue-fedora-initiative-team-silverblue/">Video</a>

<li>Owen Taylor, Flock 2017: Setup your own Atomic Workstation,
<a href="https://www.youtube.com/watch?v=5KpXrwIJw08">Video</a>

<li>Patrick Uiterwijk, Flock 2016: Using Fedora Atomic as Workstation,
<a href="https://www.youtube.com/watch?v=zduGfpfwHz4">Video</a>

<li>David King, Flock 2016: Towards an Atomic Workstation,
<a href="https://www.youtube.com/watch?v=-wwVvm42gpE">Video</a>


</ul>

</article>

<h1>Press</h1>

<ul>

<li>LWN, <a href="https://lwn.net/Articles/753293/">Fedora Atomic Workstation becomes Team Silverblue</a>

<li>Phoronix, <a href="https://www.phoronix.com/scan.php?page=news_item&px=Atomic-Team-Silverblue">Team Silverblue Succeeds Fedora Atomic Workstation, Aims To Be In Great Shape By F30</a>

<li>Linux News, <a href="https://linuxnews.de/2018/05/03/neue-fedora-initiative-team-silverblue/">Neue Fedora-Initiative »Team Silverblue«</a> (German)

<li>Pro-Linux.de, <a href="http://www.pro-linux.de/news/1/25864/fedora-atomic-workstation-wird-zu-team-silverblue.html">Fedora Atomic Workstation wird zu Team Silverblue</a> (German)

<li>golem.de, <a href="https://www.golem.de/news/team-silverblue-fedora-will-modularen-desktop-fuer-alle-1805-134263.html">Fedor will modularen Desktop für alle</a> (German)
</ul>


{{end}}
