<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Contribute{{end}}

{{define "body"}}
<article>

<h1>How to Contribute</h1>

<p>Fedora Silverblue is an open community seeking contributors from everywhere, and of every type.
In addition to many core projects needing code in various languages, we also need:
<ul>
  <li>help writing documentation</li>
  <li>expert users to answer questions from less experienced users</li>
  <li>testers who can try out new releases and features</li>
</ul>
</p>

<p>If you are a programmer, please check out
<a href="https://github.com/projectatomic/rpm-ostree">rpm-ostree</a> and
<a href="https://github.com/flatpak/flatpak">Flatpak</a> and the many related projects on GitHub for places to contribute.
We accept pull requests and do not require a CLA.</p>

<p>If you are a designer, a storyteller who is interested in tech, a technical writer, or otherwise interested in contributing to the website or documentation, please check out the GitHub repositories for the <a href="https://github.com/teamsilverblue/silverblue-site">website</a> and <a href="https://docs.fedoraproject.org/en-US/fedora-silverblue/">documentation</a>. If you're not comfortable with GitHub, you can always create a topic in the <a href="https://discussion.fedoraproject.org/c/desktop/silverblue">community</a> forums.</p>

<p>If you find a problem or want to suggest a feature, you can use the
<a href="https://github.com/fedora-silverblue/issue-tracker/issues">issue tracker</a>.</p>

<h1>Meet the Team</h1>

<p>We've canceled IRC meetings in favor of discussiong things timezone-independently on the <a href="https://discussion.fedoraproject.org/c/desktop/silverblue">forums</a>.</p>

<p>Outside of the forums, you can always come by and chat about Silverblue
in the &num;silverblue IRC channel on freenode.</p>

<p>You can best discuss Silverblue in our
<a href="https://discussion.fedoraproject.org/c/desktop/silverblue">community</a>.

<p>Silverblue is a work in progress. Join now and help us shape its future!</p>

</article>

{{end}}
