<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Contribute{{end}}

{{define "body"}}
<article>

<h1>How to Contribute</h1>

<p>Team Silverblue is an open community seeking contributors from everywhere, and of every type.
In addition to many core projects needing code in various languages, we also need:
<ul>
  <li>help writing documentation</li>
  <li>expert users to answer questions from less experienced users</li>
  <li>testers who can try out new releases and features</li>
</ul>
</p>

<p>If you are a programmer, please check out
<a href="https://github.com/projectatomic/rpm-ostree">rpm-ostree</a> and
<a href="https://github.com/flatpak/flatpak">Flatpak</a> and the many related projects on GitHub for places to contribute.
We accept pull requests and do not require a CLA.</p>

<p>If you are a designer, a storyteller who is interested in tech, a technical writer, or otherwise interested in contributing to the website or documentation, please check out the GitHub repositories for the <a href="https://github.com/teamsilverblue/silverblue-site">website</a> and <a href="https://github.com/teamsilverblue/silverblue-docs">documentation</a>. If you're not comfortable with GitHub, you can always create a topic in the <a href="https://discussion.fedoraproject.org/c/silverblue">community</a> forums.</p>

<p>If you find a problem or want to suggest a feature, you can use the
<a href="https://pagure.io/teamsilverblue/issues">issue tracker</a>.</p>

<h1>Meet the Team</h1>

<p>Team Silverblue has regular, bi-weekly IRC meetings.
<ul>
  <li>&num;fedora-meeting-2 on freenode, every second Monday, 9:00 EDT</li>
</ul>
Feel free to come by!</p>

<p>You can also read the <a href="/contribute/meeting-logs">summaries</a>
of previous meetings.</p>

<p>Outside of the meeting, you can always come by and chat about Silverblue
in the &num;silverblue IRC channel on freenode.</p>

<p>You can also discuss Silverblue in our
<a href="https://discussion.fedoraproject.org/c/silverblue">community</a>.

<p>Silverblue is a work in progress. Join now and help us shape its future!</p>

</article>

{{end}}
