<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue &mdash; Download{{end}}

{{define "body"}}
<article>
<h1>Download a Silverblue image</h1>

<p>Silverblue images for Fedora 29 are provided by the Fedora Project.</p>
<p><a class="button" href='https://download.fedoraproject.org/pub/fedora/linux/releases/29/Silverblue/x86_64/iso/Fedora-Silverblue-ostree-x86_64-29-1.2.iso'><svg class="icon"><use href="/public/svg-sprites.svg#download" /></svg>64-bit 2.0GB Silverblue image (Fedora 29)</a></p>

<p>Fedora provides the Media Writer as a convenient way to create bootable USB drives.</p>
<p>You will need
<ul>
<li>The Silverblue image (download above)
<li>Fedora Media Writer (download below)
<li>A USB Flash drive with at least 2GB space available
</ul>
</p>
<p>Download the Silverblue image and the Fedora Media Writer program for your OS.
In the Media Writer window, click "Custom image", select the Silverblue image,
and follow the prompts to write the image to the USB Drive.</p>

<p>You may then install Silverblue by booting from your USB Drive. <b>Note:</b> it is
advisable to keep the default partitioning setup that the Installer suggests,
since rpm-ostree expects this setup.</p>

<h1>Try the latest</h1>

<p>Help us make Silverblue better by testing the <b>Rawhide</b> builds of Silverblue that
will eventually become Fedora 30.</p>
<p><a class="button" href='https://download.fedoraproject.org/pub/fedora/linux/development/rawhide/Silverblue/x86_64/iso/Fedora-Silverblue-ostree-x86_64-Rawhide-20181021.n.0.iso'><svg class="icon"><use href="/public/svg-sprites.svg#download" /></svg>64-bit 2.0GB Silverblue image (Fedora Rawhide)</a></p>

<h1>Get Fedora Media Writer</h1>

<p>Fedora Media Writer is supported on Linux, OS X and Windows:
<a class="button" href="https://flathub.org/repo/appstream/org.fedoraproject.MediaWriter.flatpakref">Fedora Media Writer for <b>Linux</b></a>
<a class="button" href="https://getfedora.org/fmw/FedoraMediaWriter-osx-4.1.1.dmg">Fedora Media Writer for <b>OS X</b></a>
<a class="button" href="https://getfedora.org/fmw/FedoraMediaWriter-win32-4.1.1.exe">Fedora Media Writer for <b>Windows</b></a>
</p>

<details class="conditions">
<summary>By downloading Silverblue, you agree to comply with the following terms and conditions.</summary>
<p>By downloading Fedora software, you acknowledge that you understand all of the following:
Fedora software and technical information may be subject to the U.S. Export Administration
Regulations (the “EAR”) and other U.S. and foreign laws and may not be exported, re-exported
or transferred (a) to any country listed in Country Group E:1 in Supplement No. 1 to part 740
of the EAR (currently, Cuba, Iran, North Korea, Sudan & Syria); (b) to any prohibited destination
or to any end user who has been prohibited from participating in U.S. export transactions by
any federal agency of the U.S. government; or (c) for use in connection with the design,
development or production of nuclear, chemical or biological weapons, or rocket systems,
space launch vehicles, or sounding rockets, or unmanned air vehicle systems. You may not
download Fedora software or technical information if you are located in one of these countries
or otherwise subject to these restrictions. You may not provide Fedora software or technical
information to individuals or entities located in one of these countries or otherwise subject
to these restrictions. You are also responsible for compliance with foreign law requirements
applicable to the import, export and use of Fedora software and technical information.</p>
</details>
</article>
{{end}}
