header {width: 15%; min-width: 220px; margin: 0%; padding: 2%; position: fixed; margin: 0% 0% 0% 5%;}
header nav {margin: 5% 0% 0% 5%;}
header nav a {display: block; padding: 0; white-space: nowrap;}
header nav a.logo img {width: 200px; height: 200px;}

article {margin: 0% 25%; width: 60%; padding: 2%;}

article section.boxes {display: inline-grid; grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); grid-gap: 2.5em; padding: 0.5em;}
article section.boxes section {padding: 1em;}

footer {clear: both; text-align: center; padding: 1%;}
footer p {padding: 2% 0% 0% 0%}
footer nav a {width: 20%; padding: 1% 1% 2% 1%;}

.icon {width: 20px; height: 20px; vertical-align: middle; margin: 0 10px 0 0;}

@media all and (min-width: 1025px) {
  header {margin: 0;}
  article {margin: 0% 0% 0% 250px; width: 60%; padding: 2%;}
  header nav a.logo img {padding-bottom: 20px;}
}

@media all and (max-width: 1024px) {
  header {clear: both; width: 100%; margin: 0%; padding: 0%; position: relative;}
  header nav {margin: 0%;}
  header nav a {display: inline; padding: 0;}
  header nav hr {display: none;}
  article {clear: both; width: 96%; margin: 5% 0% 2% 0%; padding: 2%;}
}

