body {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 12pt;
  line-height: 1.5em;
}

h1,h2,h3,h4,h5 {
  font-family: Overpass, Interstate, Sans-Serif;
  font-weight: 200;
}

a {
  color: #729fcf;
  &:visited { color: #729fcf; }
  &:hover, &:focus { color: #000; }
  transition: all 400ms ease-in-out;
}

header {
  width: 15%; 
  min-width: 220px; 
  margin: 0%; 
  padding: 2%; 
  position: fixed; 
  margin: 0% 0% 0% 5%;
  
  nav {
    margin: 5% 0% 0% 5%;
    
    a {
      display: block; 
      padding: 0;
      white-space: nowrap;
      margin: .5em 0;
      
      &.logo img {
       width: 200px;
       height: 200px;
      }
    }
    
    hr {
      border-width: 0;
      margin: 1em;
    }
  }
}

article {
  margin: 0% 25%; 
  width: 60%; 
  padding: 2%;
  
  section.boxes {
    display: inline-grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); 
    grid-gap: 2.5em; 
    padding: 0.5em;
    
    section {
      padding: 1em;
    }
  }
}

#copyright {
  margin: 3em 0 0 0;
  font-size: 80%;
  letter-spacing: 0.2em;
  color: rgba(0,0,0,0.3);
}


footer {
  clear: both; 
  text-align: center; 
  padding: 1%;

  p {
    padding: 2% 0% 0% 0%;
  }
  
  nav a {
    width: 20%; /* OUCH */
    padding: 1% 1% 2% 1%;
  }
}

.icon { /* Really dislike these */
  width: 16px; 
  height: 16px; 
  vertical-align: middle; 
  margin: 0 10px 0 0;
  fill: #729fcf;
  transition: all 400ms ease-in-out;
  a:hover & {
    fill: black;
  }
}

@media all and (min-width: 1025px) {
  header {margin: 0;}
  article {margin: 0% 0% 0% 250px; width: 60%; padding: 2%;}
  header nav a.logo img {padding-bottom: 20px;}
}

@media all and (max-width: 1024px) {
  header {clear: both; width: 100%; margin: 0%; padding: 0%; position: relative;}
  header nav {margin: 0%;}
  header nav a {display: inline; padding: 0;}
  header nav hr {display: none;}
  article {clear: both; width: 96%; margin: 5% 0% 2% 0%; padding: 2%;}
}

