@import url("https://fonts.googleapis.com/css?family=Overpass|Source+Code+Pro|Source+Sans+Pro");
body {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 12pt;
  line-height: 1.5em;
  max-width: 62em;
  margin: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

h1, h2, h3, h4, h5 {
  font-family: Overpass, Interstate, Sans-Serif;
  font-weight: 200; }

a {
  color: #436795;
  transition: all 400ms ease-in-out; }
  a:visited {
    color: #436795; }
  a:hover, a:focus {
    color: #000; }
  a.button {
    display: inline-block;
    margin: 6px;
    padding: 1em;
    text-align: center;
    background-color: #436795;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px; }
    a.button:hover, a.button:focus {
      background-color: #5780b4; }
      a.button:hover svg, a.button:focus svg {
        fill: #fff; }
    a.button svg {
      fill: #fff; }
    a.button:active {
      background-color: #334f72; }
      a.button:active svg {
        fill: #fff; }

.wrapper {
  display: flex;
  flex: 1; }

header {
  flex: 1;
  margin: 0;
  padding: 1em;
  margin: 0.5em; }
  header .logo img {
    width: 128px;
    height: 128px; }
  header nav {
    margin: 3em 1em 1em;
    display: flex;
    flex-direction: column; }
    header nav a {
      flex: 1;
      display: block;
      padding: 0;
      white-space: nowrap;
      margin: .5em 0;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 80%;
      text-decoration: none;
      border-bottom: 2px solid transparent; }
      header nav a:hover, header nav a:active, header nav a:focus {
        border-bottom: 2px solid #436795; }
    header nav hr {
      border-width: 0;
      margin: 1em; }

main {
  flex: 4;
  padding: 1em; }

article {
  box-sizing: border-box; }
  article section.boxes {
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5em;
    padding: 0.5em; }
    article section.boxes section {
      padding: 1em; }

.conditions {
  cursor: pointer;
  margin: 1em; }
  .conditions p {
    box-sizing: border-box;
    line-spacing: 3em;
    font-size: 90%;
    margin: 2em; }

#copyright {
  margin: 3em 0 0 0;
  font-size: 80%;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3); }

footer {
  text-align: center;
  padding: 2em;
  margin: 0; }
  footer p {
    padding: 2% 0% 0% 0%; }
  footer nav a {
    text-alias: center;
    padding: 1em; }

.icon {
  /* Really dislike these */
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 10px 0 0;
  fill: #729fcf;
  transition: all 400ms ease-in-out; }
  a:hover .icon {
    fill: black; }

pre {
  font-family: "Source Code Pro", monospace;
  font-size: 70%;
  background-color: #eee;
  padding: 2em;
  overflow-x: auto;
  max-width: 60em;
  margin: 3em auto;
  border-radius: 6px; }

/* Mobile Layout */
@media all and (max-width: 1024px) {
  .wrapper {
    flex-direction: column; }

  header {
    min-height: 120px; }

  header nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    margin: 6px 6px 6px 140px; }

  header nav a {
    padding: .5em 1em;
    text-align: center; }

  header nav hr {
    display: none; }

  header a.logo img {
    position: absolute;
    top: 0;
    left: 0;
    order: 6;
    width: 96px;
    height: auto;
    margin: 16px; } }

/*# sourceMappingURL=teamsilverblue-style.css.map */
