<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue{{end}}

{{define "body"}}
<article>
  <h2>Fedora 29 has been released today!</h2>
  <p class="author">by Matthias Clasen and Sanja Bonic &ndash; <time datetime="2018-10-30">October 30, 2018</time></p>
  
  <p>This is a big milestone for us. Silverblue is part of a Fedora release for the first time.
  If you haven't yet, please try the Fedora 29 <a href="https://silverblue.fedoraproject.org/download">Silverblue</a> variant and tell us what you think!</p>

    <img class="blog-image" alt="Silverblue logo" src="/public/silverblue-logo.svg">

  <p>And just in time for Fedora 29, we have the first version of the <b>Fedora Toolbox</b> ready for
  testing as well!</p>

  <p>The toolbox is using container technology to bring back your familiar tools and development
  environment on top of the immutable Silverblue base, for the best of both worlds.</p>

  <p>Follow Debarshi's <a href="https://debarshiray.wordpress.com/2018/10/22/fedora-toolbox-hacking-on-fedora-silverblue">instructions</a> to try out Fedora toolbox.</p>
</article>


{{end}}
