<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue{{end}}

{{define "body"}}
<article>
<h2>Discussions and Meetings</h2>

<p>Discussions about Silverblue happen on the <a href="https://lists.fedoraproject.org/archives/list/desktop@lists.fedoraproject.org/">desktop@lists.fedoraproject.org</a> mailing list.</p>

<p>Team Silverblue has regular, bi-weekly IRC meetings.
<ul>
  <li>&num;fedora-meeting-2 on freenode, every second Monday, 9:00 EDT</li>
</ul>
Please check the mailing list for meeting announcements and agendas
and feel free to come by!</p>

<p>Outside of the meeting, you can always come by and chat about Silverblue
in the &num;fedora-workstation IRC channel on freenode.</p>

<h2>Report Issues</h2>

<p>Before reporting issues, please check in chat or on the mailing list that you've found
a new issue.</p>

<p>As Team Silverblue covers multiple sub-projects and distributions, where to report issues
depends on which distribution or component you're reporting and issue against. In general, it
is useful to check on chat or the mailing list where to report things. Here are links to a few
of the issue trackers:

<ul>
<li>rpm-ostree on <a href="https://github.com/projectatomic/rpm-ostree/issues">github</a>.
<li>flatpak on <a href="https://github.com/projectatomic/rpm-ostree/issues">github</a>.
<li>gnome-software on <a href="https://github.com/projectatomic/rpm-ostree/issues">gitlab.gnome.org</a>.
</ul>

<p>For issues that are specific to Team Silberblue, but not clearly related to one of
those components, you can use the Team Silverblue <a href="https://pagure.io/fedora-atomic-workstation/issues">issue tracker</a>.</p>
</article>
{{end}}
