<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Team Silverblue{{end}}

{{define "body"}}
<article>
<h2>Meetings</h2>

<p>Team Silverblue has regular, bi-weekly IRC meetings.
<ul>
  <li>&num;fedora-meeting-2 on freenode, every second Monday, 9:00 EDT</li>
</ul>
Feel free to come by!</p>

<h2>Chat</h2>
<p>Outside of the meeting, you can always come by and chat about Silverblue
in the &num;fedora-workstation IRC channel on freenode.</p>
</article>
{{end}}
